
<body>
    <h1>Acuerdo de confidencialidad</h1>
    <p style="text-align:justify">
        IDENTIFICACIÓN DEL CONTRATISTA
        <br />
        NOMBRE DE LA SOCIEDAD: FANSTORE
        <br />
        NIT.: 800.190.265-7
        <br />
        REPRESENTANTE LEGAL:PAULINA LIZBETH FLORES SÁNCHEZ
        <br />
        NÚMERO DE IDENTIFICACIÓN: 015597801543
        <br />
        CLÁUSULAS
        <br />
        PRIMERA. El CONTRATISTA se obliga a no divulgar a terceras partes, la “Información confidencial”, que reciba por parte del CONTRATISTA, y a darle a dicha información el mismo tratamiento que le darían a la información confidencial de su propiedad. Para efectos de la presente acta, “Información Confidencial” comprende toda la información divulgada por FANSTORE ya sea en forma oral, visual, escrita, grabada en medios magnéticos o en cualquier otra forma tangible y que se encuentre claramente marcada como tal al ser entregada a la parte receptora.
        <br />
        SEGUNDA. La parte receptora se obliga a mantener de manera confidencial la “Información confidencial” que reciba de FANSTORE y a no darla a una tercera parte diferente de su equipo de trabajo y asesores que tengan la necesidad de conocer dicha información para los propósitos autorizados, y quienes deberán estar de acuerdo en mantener de manera confidencial dicha información.
        <br />
        TERCERA. Es obligación del CONTRATISTA de no divulgar la “Información confidencial”, incluyendo, mas no limitando, el informar a sus empleados que la manejan, que dicha información es confidencial y que no deberá ser divulgada a terceras partes.
        <br />
        CUARTA. El CONTRATISTA se obliga a utilizar la “Información confidencial” recibida, únicamente para el desarrollo del objeto del contrato de fiducia mercantil suscrito con FANSTORE.
        <br />
        QUINTA. El CONTRATISTA se compromete a efectuar una adecuada custodia y reserva de la información y gestión -es decir tratamiento- de los datos suministrados por FANSTORE al interior de las redes y bases de datos (físicas y/o electrónicas) en donde se realice su recepción y tratamiento en general.
        <br />
        SEXTA. Para el caso del manejo de información que incluya datos personales, el CONTRATISTA dará estricto cumplimiento a las disposiciones constitucionales y legales sobre la protección del derecho fundamental de habeas data, en particular lo dispuesto en el artículo 15 de la Constitución Política y la ley 1581 de 2012.
        <br />
        SÉPTIMA. En caso de que el CONTRATISTA incumpla parcial o totalmente con las obligaciones establecidas en la presente acta éste será responsable de los daños y perjuicios que dicho incumplimiento llegase a ocasionar a FANSTORE.
        <br />
        OCTAVA. La vigencia de la presente acta será indefinida y permanecerá vigente mientras exista relación receptora, se hará acreedora a la Pena Convencional establecida en la Cláusula Séptima del presente Contrato.
        Suscrita a los 12 días del mes de octubre de 2021, en Puebla pue.

    </p>
</body>

