
<body>
    <h1>Términos de uso y deslinde de responsabilidad legal para uso de software</h1>
    <p style="text-align:justify">
        A continuación, se describen los términos bajo los cuales pueden acceder y utilizar el sitio web de Fanstore, así como también el uso de cualquier información publicada en el sitio web de Fanstore. Al acceder al sitio web, aceptas estar sujeto a los términos de este Acuerdo. De no aceptar los términos y condiciones establecidos en este Acuerdo, no podrás acceder ni hacer uso del sitio web de Fanstore ni de la información contenida en el mismo.
        <br />
        Los términos y condiciones establecidos en este Acuerdo pueden cambiar sin previo aviso. Es tu responsabilidad verificar semejantes cambios. Si no estás de acuerdo con alguna enmienda, debes dejar de usar y acceder al sitio web de Fanstore.
        <br />
        <br />
        Enlaces externos <br />
        Los enlaces a sitios web fuera del sitio web de Fanstore se proporcionan sólo para conveniencia y no forman parte del sitio web de Fanstore. No se expresa ni implica la aprobación de ningún producto o servicio, información, material o contenido de terceros referido o incluido en, o vinculado desde el sitio web de Fanstore.
        <br />
        <br />
        Licencia limitada <br />
        Se otorga una licencia limitada sólo para mostrar e imprimir la información contenida en el sitio web de Fanstore para uso personal y no comercial. De lo contrario, no se podrá reproducir, modificar, volver a publicar o difundir ninguna información contenida en el sitio web de Fanstore de ninguna manera o forma.
        <br />
        <br />
        Deslinde de responsabilidades <br />
        En ningún caso, Fanstore será responsable por algún daño directo, especial, indirecto, incidental o consecuente o pérdida de beneficios, que surjan de o estén relacionados con el uso o la imposibilidad de usar el sitio web de Fanstore o cualquier uso de la información contenida, incluyendo sin limitación cualquier pérdida de datos, pérdida de beneficios comerciales, interrupción del negocio, lesiones personales o cualquier otra pérdida monetaria, ya sea en una acción por contrato, negligencia o de otra manera, incluso si Fanstore ha sido informado de la posibilidad de ello.
        Lineamientos de seguridad de la información en el desarrollo de software
        Seguridad en la infraestructura tecnológica Todos los equipos que utilicen el el sistema deben estar configurados de tal manera que los protocolos de comunicación inseguros no estén habilitados.
        Desarrollo y mantenimiento del sistema Fanstore. Se definen los componentes de seguridad del sistema Fanstore, Se incluye la periodicidad anual en la validación y verificación de los mismos.
        Formación mínima de 16 caracteres de longitud para cuentas clientes.
        Se debe contar con un área responsable de la seguridad informática que verifique el cumplimiento de estos Lineamientos. Con base en éstos, se deben generar los siguientes procedimientos:
        1. Para el fortalecimiento de la infraestructura tecnológica.
        2. Para un manejo seguro de la información electrónica.
        3. Para implementar mecanismos robustos y seguros de control de    acceso a la infraestructura tecnológica.
        Establecer un método específico y entendible para evaluar continuamente los riesgos potenciales, con la finalidad de mantener la seguridad a un nivel aceptable, así como los procedimientos para asegurar un control eficaz con los tiempos de respuesta necesarios.
        Identificar de ser necesario controles adicionales de seguridad para reducir al mínimo el riesgo potencial de pérdida de los sistemas a promover o permitir acceso público.
        Realizar de forma periódica análisis de vulnerabilidades de los sistemas de información para protegerse de las amenazas internas y externas del sistema.
        Dar a conocer las amenazas y las respuestas que se les da.

    </p>
</body>

