<h2 class="my-5 h3 text-center">¡Compra todos los comics y mangas que quieras!</h2>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Index</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/album.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
</style>
<body>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://m.media-amazon.com/images/I/51gvs1tv2VL.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Boruto: Naruto Next Generations</h5>
                                <p class="card-text">Justo cuando Kawaki comienza a sentirse cómodo en su nuevo hogar, un visitante sorpresa amenaza con cambiarlo todo. Naruto defiende a Boruto y Kawaki.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/616i2mXhCaL.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Avengers vs. X-Men</h5>
                                <p class="card-text">Los Vengadores y los X-Men, los dos equipos de superhéroes más populares de la historia, ¡van a la guerra! ¡Este evento histórico de la cultura pop reúne a diversos héroes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/816Ma-bVcXL.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Dr. Stone, Vol. 14</h5>
                                <p class="card-text">
                                    Imagínese despertar a un mundo donde hasta el último humano se ha convertido misteriosamente en piedra...
                                    Un fatídico día, toda la humanidad se convirtió en piedra.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://im.fantasticocomic.com/im/9/7e/3d04a584243d97e86ae6aa6053f75.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Amazing Spider-man Series #62</h5>
                                <p class="card-text">¡Kingpin lo hace personal con Peter Parker y la ciudad de Nueva York pagará el precio! Y otra mecha encendida hace más de treinta números llega a su explosivo destino.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://im.fantasticocomic.com/im/f/2b/4269f42b77d5392f99869795b3851.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Alien #1</h5>
                                <p class="card-text">¡EL ICÓNICO TERROR CINEMÁTICO HACE SU MARAVILLOSO DEBUT! Gabriel Cruz dio su vida a Weyland-Yutani - En el caso de un ataque alienígena, apenas sobrevivió, ¡casi literalmente!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://im.fantasticocomic.com/im/f/cb/b8ed3988d05ef365ec92eaf8d33b8.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">TMNT The Last Ronin Directors Cut #1</h5>
                                <p class="card-text">TMNT: The Last Ronin fue uno de los libros más importantes de 2020 y ahora regresa con una mirada entre bastidores a la creación de este clásico instantáneo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://img.assinaja.com/assets/tZ/050/img/253066_520x520.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">My Hero Academia #27</h5>
                                <p class="card-text">Varios héroes y alumnos de Yuei se unen para emboscar a los villanos en sus dos principales bases de operaciones: el Hospital General Jaku, cuyo director lleva a cabo experimentos ilícitos relacionados con la nueva generación de nomu.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/811AsP+2NIL.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">Attack on Titan 32</h5>
                                <p class="card-text">Decidido a proteger su amada casa de Paradis, Eren usa el poder del Titán Fundador en un intento de acabar con el resto de la humanidad. A medida que avanzan las hordas de Titanes, Eren, durante mucho tiempo irreconocible...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81SB+vu9lzL.jpg" width="100%" height="415" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <h5 class="card-title">JUJUTSU KAISEN N.3</h5>
                                <p class="card-text">¡Aoi Tôdô y Mai Zen’in, dos estudiantes del Instituto de Hechicería de Kyôto, han aparecido frente a Fushiguro y Kugisaki! Y a Fushiguro le va a tocar responder a la pregunta de Tôdô sobre cuál es su tipo de mujer preferida. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery.slim.min.js"><\/script>')</script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.min.js"></script>
</body>
