
<body>
    <h1>Aviso de Privacidad</h1>
    <p style="text-align:justify">
        De acuerdo a lo Previsto en la “Ley Federal de Protección de Datos Personales”, declara Fanstore ser una plataforma legalmente constituida de conformidad con las leyes mexicanas, con domicilio  Calle Centenario, Misiones de San Francisco, Cuautlancingo, Puebla ; y como responsable del tratamiento de sus datos personales, hace de su conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, tales como:
        <ol>
            <li>Nombre, apodo o seudónimo para operar en nuestra plataforma.</li>
            <li>Información de contacto.</li>
            <li>Datos de cuenta bancaria.</li>
            <li>Información y medios de pago.</li>
        </ol>
        Estos serán utilizados única y exclusivamente para los siguientes fines:
        <ol>
            <li>
                Información y Prestación de Servicios.
            </li>
            <li>
                Actualización de la Base de Datos.
            </li>
            <li>
                Cualquier finalidad análoga o compatible con las anteriores.
            </li>
        </ol>
        En el caso de Datos sensibles, tales como:
        <ul>
            Datos Financieros (Ingresos y demás relacionados)
        </ul>
        Estos serán utilizados única y exclusivamente para los siguientes fines:
        <ul>
            Información y brindarte productos que solicitaste
        </ul>
        Para prevenir el acceso no autorizado a sus datos personales y con el fin de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente. Así mismo, le informamos que sus datos personales pueden ser Transmitidos para ser tratados por personas distintas a esta empresa.
        Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el país, por ello le informamos que usted tiene en todo momento los derechos (ARCO) de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a sus datos personales; derecho que podrá hacer valer a través del Área de Privacidad encargada de la seguridad de datos personales en el Teléfono _2226579852_, o por medio de su correo electrónico: _fanstore_privacidad@gmail.com___
        A través de estos canales usted podrá actualizar sus datos y especificar el medio por el cual desea recibir información, ya que, en caso de no contar con esta especificación de su parte, Fanstore establecerá libremente el canal que considere pertinente para enviarle información.
        Este aviso de privacidad podrá ser modificado por Fanstore, dichas modificaciones serán oportunamente informadas a través de correo electrónico, teléfono, o cualquier otro medio de comunicación que Fanstore determine para tal efecto.

    </p>
</body>

