
<body>
    <h1>Términos de uso del software</h1>
    <p style="text-align:justify">
        Este documento describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por Fanstore ("los Servicios") dentro del sitio ("Fanstore" o el "sitio"). Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen Fanstore y que son incorporados al presente por referencia.
        <br />
        <br />
        CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
        <br />
        <br />
        El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previo a su inscripción como Usuario de Fanstore.
        <br />
        <br />
        01 - Inscripción
        Es obligatorio completar el formulario de inscripción en todos sus campos con datos válidos para poder utilizar los servicios que brinda Fanstore. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. Fanstore podrá utilizar diversos medios para identificar a sus Usuarios, pero Fanstore NO se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.
        Fanstore se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. El Usuario accede a su cuenta personal ("Cuenta") mediante el ingreso de su Seudónimo y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad.
        El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario.
        <br />
        <br />
        02 - Modificaciones del Acuerdo
        Fanstore podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dichas modificaciones serán comunicadas por Fanstore a los usuarios que en la Configuración de su Cuenta de Fanstore hayan indicado que desean recibir notificaciones de los cambios en estos Términos y Condiciones. Todo usuario que no esté de acuerdo con las modificaciones efectuadas por Fanstore podrá solicitar la baja de la cuenta.
        El uso del sitio y/o sus servicios implica la aceptación de estos Términos y Condiciones generales de uso de Fanstore.
        <br />
        <br />
        03 - Privacidad de la Información
        Para utilizar los Servicios ofrecidos por Fanstore, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras.
        <br />
        <br />
        04 - Fallas en el sistema
        Fanstore no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en Internet. Fanstore tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputar responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Fanstore no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Fanstore; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputarse algún tipo de responsabilidad. Fanstore no será responsable por ningún error u omisión de contenidos en su sitio web.
        <br />
        <br />
        05 - Jurisdicción y Ley Aplicable
        Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Mexicana.
        Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables y a los Tribunales competentes de la Ciudad de Puebla y los procedimientos se llevarán a cabo en idioma castellano.
        Toda la información suministrada por los Usuarios, se tomará como verídica para efectos tributarios.
        <br />
        <br />
        06 - Domicilio
        Se fija como domicilio de Fanstore, con NIT 830067394-6, Calle Centenario #53c, Misiones de San Francisco, Cuautlancingo, Puebla, México. Teléfono (+52) 2226579852.
        Si tienes alguna duda sobre los Términos y Condiciones Generales o demás políticas y principios que rigen Fanstore consulta nuestra página

    </p>
</body>

